/* ====================== General ====================== */
	
.code {
	width: auto;
	padding: 2px 4px;
	margin: 0.5rem 0;
	border-radius: 4px;
	font-family: "Lucida Console", Monaco, monospace !important;
	font-weight: lighter;
	background-color: var(--light-gray);

	display: inline;
}

.multi-line-code {
	display: inline-block;
	padding: 2rem 1rem;
}

.nosplit {
	white-space: nowrap;
}

.red {
	color: red;
}

.content-container {
	height: 100%;
	overflow-y: auto;
}

.content-container form {
	width: 100%;
}

.flag-form {
	margin-bottom: 2rem;
}

.level-title {
	font-size: 4rem;
	font-family: Roboto , sans-serif;
	font-weight: lighter;	
	color: var(--uzlabina-orange);

	text-shadow: 0 0 2rem var(--uzlabina-orange);

	margin: 2rem 0;
}

.level-description-container {
	width: 75%;
}

.level-theory {
	border-radius: 12px;
	padding: 0.5rem 2rem;
	margin-bottom: 2rem;
	
	text-align: start;
	line-height: 1.5;

	background-color: var(--lighter-gray);
	border-top: 6px solid var(--uzlabina-orange);
	border-bottom: 6px solid var(--uzlabina-orange);
}

.level-scenario-container {
	justify-content: center;
}

.vertical-line {
	border-left: 4px solid var(--uzlabina-orange);
	margin-right: 1rem;
}

.level-description {
	text-align: start;
	line-height: 2rem;
}

.error-msg {
	color: red;
	font-size: 1rem;

	margin-bottom: 0;
}

.submit-btn {
	width: auto;
	padding: 0.5rem 0.5rem;
	margin-top: 1rem;

	background-color: var(--uzlabina-orange);
	border: none;
	border-radius: 6px;

	font-size: 1rem;

	transition: background-color 0.3s, box-shadow 0.3s;
}

.submit-btn:hover {
	background-color: var(--gray-on-hover);
	box-shadow: 0 0 2rem var(--uzlabina-orange);
	cursor: pointer;
}

/* ====================== Level 2 ====================== */

/* ================================================================== */
/* ====================== Level 3 ====================== */

.comment-section-text-field {
	min-height: 8rem;
	min-width: 60%;
	max-width: 60%;
}

.comment {
	max-width: 60%;

	margin-bottom: 1rem;
	padding: 2rem;
	background-color: var(--light-gray);

	border-radius: 2rem;
}
