/* fonts */
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@font-face {
    font-family: "ADLaM Display";
    src: url("static/fonts/ADLaMDisplay-Regular.ttf") format("truetype");
    font-display: swap;
}
.adlam-display-regular {
    font-family: "ADLaM Display";
    font-weight: 400;
}
.adlam-display-bold {
    font-family: "ADLaM Display";
    font-weight: 700;
}
.roboto-regular {
    font-family: "Roboto Light";
    font-weight: 400;
}
.roboto-bold {
    font-family: "Roboto Light";
    font-weight: 700;
}