/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@font-face {
    font-family: "dancing-script-regualr";
    src: url("static/fonts/dancing-script/static/DancingScript-Regular.ttf");
}

.dancing-script-regular {
    font-family: "Dancing Script";
}

.sans-serif-regular {
    font-family: sans-serif;
    font-weight: 400;
}
.sans-serif-bold {
    font-family: sans-serif;
    font-weight: 700;
}
