/* variables */
:root {
    /* colors */
    --uzlabina_orange: #F5832A;
    --uzlabina_gray: #222222;
    --gray_on_hover: #4D4D4D;
    --gray-light: #eaeaea;
}

/* Remove browser defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
}

body {

}

/* general */
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}



