<div class="cards-container">
    <div class="cards-column flex-col">
        <div class="card flex-row">
            <img src="{{url_for('static', filename='logo.svg')}}" alt="logo.svg could not be loaded..." class="card-icon">
            <div class="card-text">
                <span class="card-title sans-serif-bold">zlabCTF</span><br>
                <p>zlabCTF je CTF (<i>Capture The Flag</i>) stránka vytvořená v rámci dlouhodobé maturitní práce studentem 4. ročníku SPŠEaG V Úžlabině.</p>
                <br>
                <p>Všechny CTF úlohy na zlabCTF jsou jsou zaměřeny na oblast <b>zabezpečení webových aplikací</b>, což je také název mé dlouhodobé maturitní práce.</p>
            </div>
        </div>
    </div>
    <div class="cards-column flex-col">
        <div class="card flex-row">
            <img src="{{url_for('static', filename='/github-mark/github-mark.svg')}}" alt="logo.svg could not be loaded..." class="card-icon">
            <div class="card-text">
                <span class="card-title sans-serif-bold">GitHub</span><br>
                <p>Všechen kód k tomuto projektu je veřejně dostupný <a href="https://github.com/BrewsLee21/zlabCTF" id="github-link">tady</a></p>
            </div>
        </div>
        <div class="card flex-row">
            <img src="{{url_for('static', filename='/github-mark/github-mark.svg')}}" alt="logo.svg could not be loaded..." class="card-icon">
            <div class="card-text">
                <span class="card-title sans-serif-bold">GitHub</span><br>
                <p>Všechen kód k tomuto projektu je veřejně dostupný <a href="https://github.com/BrewsLee21/zlabCTF" id="github-link">tady</a></p>
            </div>
        </div>
    </div>
</div>