<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts.css')}}">

<html>
    <head>
        <title>zlabCTF</title>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    </head>
    <body style="margin: 0;">
        {% include 'navbar.html' %}

        <div id="main-container" class="flex-row">

        </div>
    </body>
</html>