<nav class="navbar">
    <div class="navbar-container flex-row">
        <div class="logo-container">
            <a href="" class="logo-link flex-row">
                <img src="{{url_for('static', filename='logo.svg')}}" alt="logo.svg could not be loaded...">
                <div class="sans-serif-bold">zlabCTF</div>
            </a>
        </div>
        <div class="link-container flex-row">
            <a href="/about" class="link">O Tvůrci</a>
            <a href="/contact" class="link ">Kontakt</a>
            <a href="/ctf" class="link">CTF&#9873;</a>
            <a href="/login" class="link">Přihlásit Se</a>
        </div>
    </div>
</nav>