<!doctype html>

<html>
	<head>
		<meta charset="UTF-8">
		<link rel="icon" type="image/x-icon" href={{ url_for("static", filename="res/logo.ico") }}>
		{% if title %}
			<title>zlabCTF - Level {{ level_info.level_number }}</title>
		{% else %}
			<title>zlabCTF</title>
		{% endif %}

		<link rel=stylesheet href={{ url_for("static", filename="styles/main.css") }}>
		<link rel=stylesheet href={{ url_for("static", filename="styles/index.css") }}>
		<link rel=stylesheet href={{ url_for("static", filename="styles/levels.css") }}>
	</head>
	<body>
		<div class="flex flex-col wrapper">
			<div class="flex flex-row main-container">
				{% include "nav.html" %}
				
				{% block content %}
				{% endblock %}
			</div>		
			{% include "footer.html" %}
		</div>
	</body>
</html>
