{% extends "base.html" %}

{% block content %}
	<div class="flex flex-col content-container">

		<h1 id="index-title">zlabCTF</h1>
		<p>Dlouhodobá Maturitní Práce</p>
		<span>Ondřej Teplický - 2024/2025</span>

		<div id="index-description">
			Lorem ipsum odor amet, consectetuer adipiscing elit. Enim primis placerat felis nibh fringilla ultricies vivamus. Curabitur quis nec, consectetur habitant fusce est. Amet iaculis sem suspendisse ullamcorper donec montes. Himenaeos curabitur maximus fames mollis nunc magnis. Neque urna platea velit maecenas enim montes viverra. Placerat est nam molestie fermentum mauris ornare laoreet malesuada. Proin metus cursus lectus ante eros duis laoreet. Sagittis aptent turpis lacus metus nullam erat amet. Tellus dictum duis nunc felis leo. Lacus quisque finibus et pretium luctus. Sollicitudin bibendum dictum, maecenas nibh porttitor arcu dictum. Natoque purus massa tempus vitae diam magnis integer cursus porttitor. Habitant eget ultrices montes maecenas dolor integer ante. Cras ante potenti quam elit nec.
		</div>
		
	</div>
{% endblock %}
